<html>

<head>
    <title>student | attendance</title>
</head>

<body>
   <form action="attendance" method="POST">
        <h1>welcome back <input name="studentname" value="<%= studentname %>" <%= studentname %> readonly></h1>  
        <select name="selectpick">
            <option name="Information Security" value="Information Security">Information Security</option>
            <option name="Information Security Lab" value="Information Security Lab">Information Security Lab</option>
            <option name="Discrete Mathematics" value="Discrete Mathematics">Descrete Mathematics</option>
            <option name="Numerical Techniques" value="Numerical Techniques">Numerical Techniques</option>
            <option name="Digital Logic Design" value="Digital Logic Design">Digital Logic Design</option>
            <option name="Digital Logic Design Lab" value="Digital Logic Design Lab">Digital Logic Design Lab</option>
            <option name="Computer Networks" value="Computer Networks">Computer Networks</option>
            <option name="Computer Networks Lab" value="Computer Networks Lab">Computer Networks Lab</option>
            <option name="Science Technology And Society" value="Science Technology And Society">Science Technology And Society</option>
            <option name="Environmental Science" value="Environmental Science">Environmental Science</option>
        </select>
        <button type="submit">Submit</button>
    </form>

</body>

</html>