<html>

<head>
    <title>student | attendance</title>
</head>

<body>
    <h1>welcome back <%= studentname %></h1>    

    <form action="attendance" method="POST">
        <select name="selectpick">
            <option name="" value="Information Security">info sec</option>
            <option name="" value="Information Security Lab">info sec lab</option>
            <option name="" value="Discrete Mathematics">dis math</option>
            <option name="" value="Numerical Techniques">num tech</option>
            <option name="" value="Digital Logic Design">dld</option>
            <option name="" value="Digital Logic Design Lab">dld lab</option>
            <option name="" value="Computer Networks">comp net</option>
            <option name="" value="Computer Networks Lab">comp net lab</option>
            <option name="" value="Science Technology And Society">scst</option>
            <option name="" value="Environmental Science">evs</option>
        </select>
        <input type="submit">
    </form>

</body>

</html>